.img{
    height: 100%;
  
}


.btn{
    border-radius: 10px;
    border: solid 2px;

    

}
h2{
    text-align: center;
    
}


/* 
.card-body{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.test{
    display: flex;
}

input[type="file"]{
    display: none;
}

.design{
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #ffdd75;
}

.ava{
    height: 10vh;
    width: 10vh;

}
.vn{
    border: none;
}

.animation{
    animation-name: contenu;
    animation-duration: 2s;
}

@keyframes contenu{
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
.error{
    color: red;
}