
  <div class="content">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-2 p-md-5">
              <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
                <div class="form-group">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="nom">Nom</label>
                            <input  type="text" id="nom" class="form-control form-control-lg" formControlName="nom" />
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="form-group">
                         
                              <label class="form-label" for="modele">Modele</label>
                              <input type="text" id="modele" class="form-control form-control-lg" formControlName="modele" />
                        
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">

                        <div class="form-group">
                           
                              <label class="form-label" for="marque">Marque</label>
                              <input type="text" id="marque" class="form-control form-control-lg" formControlName="marque"/>
                      
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                          
                              <label class="form-label" for="categorie">Catégorie</label>
                              <input type="text" id="categorie" class="form-control form-control-lg" formControlName="categorie" />
                          
                        </div>

                    </div>
                </div>
                <div class="form-group mt-2">
              
                      <label class="form-label" for="matricule">Matricule</label>
                      <input type="text" id="matricule" class="form-control form-control-lg"  formControlName="matricule" />
                 
                </div>
                <div class="form-group mt-2" formGroupName="assurance">
              
                    <label class="form-label" for="matricule">Date Fin Assurance</label>
                    <input type="date" id="matricule" class="form-control form-control-lg" formControlName="date_fin" />
               
              </div>
              <div class="form-group mt-2" formGroupName="visite">
              
                <label class="form-label" for="matricule">Date Fin Visite Technique</label>
                <input type="date" id="matricule" class="form-control form-control-lg" formControlName="date_fin_visite" />
           
          </div>
                <div class="form-group mt-2">
               
                      <label for="image" class="form-label">Image</label>
                      <input type="file"
                      class="form-control form-control-lg" accept="image/*" (change)="onFileChange($event)" id="image" />
                
                </div>
 

                <div class="mt-4 justify-content-center d-flex align-items-center ">
                  <button type="submit" class="btn btn-lg btn-outline-warning" [disabled]="formulaire.invalid">Ajouter</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
