<div class="container mt-3">
  <button class="btn btn-outline-warning mr-3">Retour</button>
</div>

<div class="container">
    <div class="row shadow">
        <ng-container *ngFor="let reserv of reservations">

            {{reserv|json}}
        <div class="col-4 mt-5 h-25 flex-nowrap">
            <div class="mb-5 vn">
                <div class="row g-0">
                    <div class="col-md-6">
              <img src="" class="img-fluid img" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="text-center mt-4">
                <h4>{{reserv.id}}</h4>
              </div>
              <div class="text-center mt-4">
                <h4></h4>
              </div>
              <div class="text-center mt-4">
                <h4>fvg</h4>
              </div>
              <div class="text-center mt-4">
                <h4>fgh</h4>
              </div>
              <div class="text-center mt-4">
                <h4>ffg</h4>
              </div>
              <div class="text-center mt-4">
                <h4>ghjkjjhggghj</h4>
              </div>
              <div class="text-center mt-4">
                <h4></h4>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>

      <div class="col-4 mt-5 h-25 flex-nowrap">
        <div class="mb-5 vn">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="" class="img-fluid img" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="text-center mt-4">
                <h4>fgh</h4>
              </div>
              <div class="text-center mt-4">
                <h4>ggh</h4>
              </div>
              <div class="text-center mt-4">
                <h4>fvg</h4>
              </div>
              <div class="text-center mt-4">
                <h4>fgh</h4>
              </div>
              <div class="text-center mt-4">
                <h4>ffg</h4>
              </div>
              <div class="text-center mt-4">
                <h4>ghjkjjhggghj</h4>
              </div>
              <div class="text-center mt-4">
                <h4></h4>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>
    </ng-container>
    </div>
</div>

