.car{
    display: flex;
    flex-direction: row;
}

.maxw{
    max-width: 540px;
    height: 95%;
}

.cont{
    background-image: url('.././../../assets/img/park.png');
    width:100%;
    min-height:92vh;
    background-repeat: no-repeat;
    background-size: cover;
}