<footer class="footer color text-center text-white">
    <div class="container-fluid d-flex justify-content-around align-items-center h-100">
        <div>
            <h4>Contact</h4>
            <p class="lead mb-0">
                2215 Jonh Daniel Drive <br>
                Clark, MO 65243
            </p>
        </div>

        <div>
            <h4>Réseaux sociaux</h4>
            <a  class="btn btn-outline-light btn-social mx-1">
                <img src="../../../assets/img/facebook.png" style="height: 20px; width:20px; border-radius:100%"  alt="">
                <!--à la place des images je devais avoir des icones-->
            </a>
            <a  class="btn btn-outline-light btn-social mx-1">
                <img src="../../../assets/img/instagram.png" style="height: 20px; width:20px; border-radius:100%"  alt="">
            </a>
            <a  class="btn btn-outline-light btn-social mx-1">
                <img src="../../../assets/img/x.jpeg" style="height: 20px; width:20px; border-radius:100%"  alt="">
            </a>
            <a  class="btn btn-outline-light btn-social mx-1">
                <img src="../../../assets/img/tik.jpeg" style="height: 20px; width:20px; border-radius:100%"  alt="">
            </a>
        </div>
        
       <!--<div class="d-none d-md-block" style="flex-basis: 20%;">
            <h4>About Art Design Crafters</h4>
            <p class="lead mb-0">
                Freelance is free to use, Aldemba Licensed Golden theme created by <a href="#">Start Golden.</a>
            </p>
        </div>-->
        
    </div>
</footer>
