<ng-container *ngIf="loading; else content" >
    <app-loader></app-loader>
  </ng-container>

  
  <ng-template #content >

      <app-sidebar></app-sidebar>
      
      <!-- Main -->
      <main class="py-6 bg-light">
          <div class="container-fluid">
              <!-- Card stats -->
              <div class="row g-4 mt-4">
                  <div class="col-xl-4 col-sm-6 col-12">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <span class="h6 fw-semibold text-muted text-sm d-block mb-2">Nombre de voitures</span>
                                      <span class="h3 fw-bold mb-0">{{voitures}}</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="bg-success text-white text-center rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                          <i class="fa fa-car"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <span class="h6 fw-semibold text-muted text-sm d-block mb-2">Nombre de parkings</span>
                                      <span class="h3 fw-bold mb-0">{{parkings}}</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="bg-primary text-white text-center rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                          <i class="fa fa-warehouse"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <span class="h6 fw-semibold text-muted text-sm d-block mb-2">Nombre de clients</span>
                                      <span class="h3 fw-bold mb-0">{{proprietaires}}</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="bg-info text-white text-center rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                          <i class="fa fa-user"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </ng-template>
