.pad{
    padding-top: 3%;
}

.img{
    height: 5vh;
}

.inp{
    margin-left: 30%;
}

.etat{
    border: none;
    cursor: pointer;
}

.posit{
    padding-top: 6%;
}

.imgbis{
    height: 49vh;
    width: 20vw;
}
.tall{
    position: absolute;
    height: 80vh;
    width: 48vw !important;
    margin-right: 60% !important;
}

.posi{
    margin-left: 12% !important;
   
  
}
.visite-date{
    white-space: nowrap;
}

.spac{
    /* padding: 3%; */
    padding-left: 10%;
}

.to{
    margin-top: 10%;
}
.maxw{
    max-width: 540px;
    min-height: 95%;
}

.bout{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

.haut{
    height: 100%;
}




