<ng-container *ngIf="loading; else content" >
  <app-loader></app-loader>
</ng-container>


<ng-template #content>
  
  <div class="back">
    <ng-container *ngIf="errorMessage">
      <h1 class="error-message pad">{{ errorMessage }}</h1>
    </ng-container>
    
    <ng-container *ngIf="!errorMessage">
      <app-navbar class="app-navbar" (clickchanged)="clickchanged($event)"></app-navbar>
      
      <ng-container *ngIf="taille()">
        <div class="container">
          <div class="row">
            <div class="d-flex justify-content-center mt-5">
              <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
            </div>
            <div class="text-end mb-3">
              <a class="btn btn-warning text-white" (click)="redirectToAdd()"><i class="fas fa-plus"></i> &nbsp;Ajouter</a>
            </div>
      
            <ng-container *ngFor="let car of voitures | filter: searchTerm">
              <div class="col-10 col-md-4 col-lg-3 mt-3">
                <div class="card mb-3 shadow" appScalecardadmin (click)="redirectToReservation(car.id);mettreAJourDisponibiliteVoiture(car.etat)">
                  <div class="row">
                    <div class="col-md-12">
                      <img src="data:image/PNG;base64, {{car.image}}" class="img-fluid haut" alt="..." />
                    </div>
                    <div class="col-md-12">
                      <div class="card-body">
                        <h5 class="card-title">{{car.nom}}</h5>
                        <p class="card-text">{{car.marque}}</p>
                        <p class="card-text">{{car.modele}}
                          <span class="text-danger float-end">
                            <i class="fa fa-exclamation-circle me-2 bouge" data-toggle="tooltip" data-placement="top" title="Assurance" aria-hidden="true" *ngIf="getDifferenceInDays(car.assurance.date_fin)" ></i>
                            <i class="fa fa-exclamation-triangle bouge" data-toggle="tooltip" data-placement="top" title="Visite" aria-hidden="true" *ngIf="getDifferenceInDays(car.visite.date_fin_visite)"></i>
                          </span>
                        </p>
                        <p class="card-text mb-1">
                          <i class="fa fa-eye text-warning me-3" data-toggle="tooltip" data-placement="top" title="Voir details" (click)="afficherDetailsVoiture(car);redirectToReservation(car.id);mettreAJourDisponibiliteVoiture(car.etat)"></i>
                          <i class="fas fa-edit text-dark me-3" data-toggle="tooltip" data-placement="top" title="Editer" (click)="redirectToEdit(car.id)"></i>
                          <ng-container *ngIf="testEtat(car.etat)" >
                            <i class="fas fa-trash text-danger me-3" data-toggle="tooltip" data-placement="top" title="Supprimer" (click)="changeVisibility(car)"></i>
                          </ng-container>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="!taille()">
        <div class="bout mb-3">
          <a class="btn btn-warning text-white" (click)="redirectToAdd()"><i class="fas fa-plus"></i> &nbsp;Ajouter</a>
        </div>
        <h2 class="d-flex justify-content-center to text-white h1">Vous n'avez pas de voitures, veuillez en ajouter !</h2>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

