.nav-link.active {
    color: #ffc107; /* Couleur de texte "warning" de Bootstrap */
}

li{
    list-style-type: none;
    color: black;
}

.curs{
    cursor: pointer;
}

.selected {
    /* Vos styles pour l'élément sélectionné */
    background-color:#ffc107; /* Par exemple, une couleur de fond différente */
    color:#ffc107 ; /* Par exemple, une couleur de texte différente */
  }
  
.b{
    background-color: white;
}