.nav-link.active {
    color: #ffc107; /* Couleur de texte "warning" de Bootstrap */
}

li{
    list-style-type: none;
    color: black;
}

.curs{
    cursor: pointer;
}



.nav-link.active {
    color: #ffc107; /* Couleur de texte "warning" de Bootstrap */
}

li{
    list-style-type: none;
    color: black;
}


header{
    background-color: white;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #f1b607; 
    border-radius: 10px;
}
/* navbar */

.navbar{
 
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: white;
    display: flex;
    padding: 0px 100px;
}

.logo{
    cursor: pointer;
}
.nav{
    list-style: none;
    display: flex;
    /* padding: 30px; */
}


.nav-items a {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: black;
    font-weight: 700;
    padding: 20px;
    z-index: 1;
    text-decoration: none;
    justify-content: center; /* Metni yatayda ortalamak için ekledik */
}

.nav-items a .link-text {
    margin-left: 8px;
    transition: opacity 0.4s;
    opacity: 1;
}

.nav-items a i {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    left: 50%; /* Ikonu yatayda ortalamak için ekledik */
    transform: translateX(-50%); /* Ikonu yatayda ortalamak için ekledik */
}

.nav-items a:hover .link-text {
    opacity: 0;
}

.nav-items a:hover i {
    opacity: 1;
}

.nav-items a::before{
    content: ''; 
    width: 100%;
    height: 0px;
    background: #f1b607;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -0px;
    border-radius: 8px;
    transition: height 0.4s;
}
.nav-items a:hover::before{
    height: 100%;
}

.btn{
    color: white;
    padding: 10px 30px ;
    background-color: #f1b607;
    border-radius: 15px;
    font-weight: 700;
    transition: all 0.4s;

}
.btn .ok{
    transition: all 0.4s;
}

.btn:hover{
    padding: 10px 40px;
}